@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Inter');

*{
  transition: background-color 0.8s;
  
  --white: #F7EBE8;
  --darkgrey: #444140;
  --indigo: #1E1E24;
  --red: #E54B4B;
  --rose: #FFA987;

  --background-primary: #181C25;
  --background-secondary: #14171F;
  --background-tertiary: #0C0E13;
  --border-radius: 8px;
}

html {
  background-color: var(--white);
  color: var(--indigo);
  text-shadow: 3px 2px 2px rgba(30, 30, 36 0.15);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body h1, body h2, body h3, body h4, body div, body ::-webkit-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body :-ms-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body ::-ms-input-placeholder {
  font-family: 'Inter';
  margin: 0;
}

body h1, body h2, body h3, body h4, body div, body ::placeholder {
  font-family: 'Inter';
  margin: 0;
}

body a {
  text-decoration: none;
}

body a:visited, body a:link {
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body header {
  height: 100vh;
  color: var(--white);
}

body header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header > div #popout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  -webkit-animation: left 800ms;
          animation: left 800ms;
}

@-webkit-keyframes left {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes left {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

body header > div #popout .popout-header {
  width: 100%;
  height: 13%;
  min-height: 140px;
  background: url(images/banner.png) center/cover no-repeat;
}

body header > div #popout .popout-body {
  position: relative;
  margin: 0 20px;
}

body header > div #popout .popout-body .avatar {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100px;
  height: auto;
}

body header > div #popout .popout-body .avatar > :first-child {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

body header > div #popout .popout-body .avatar .status {
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 25px;
  height: 25px;
  background: url("https://discord.c99.nl/widget/theme-4/354191516979429376.png") no-repeat;
  background-position: -130px -129px;
  background-size: 900px;
  border-radius: 50%;
  border: 3px solid var(--background-tertiary);
}

body header > div #popout .popout-body .username {
  color: var(--text-primary);
  margin-top: 75px;
}

body header > div #popout .popout-body #badgeList {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 0;
}

body header > div #popout .popout-body #badgeList .badge {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

body header > div #popout .popout-body #badgeList .badge img {
  width: 100%;
  height: 100%;
}

body header > div #popout .popout-body #badgeList .badge:last-child {
  margin-right: 0;
}

body header > div #popout .popout-body .about-me {
  font-weight: lighter;
  color: var(--text-secondary);
  margin-top: 8px;
}

body header > div #popout .popout-body .activity {
  position: relative;
  margin-top: 20px;
}

body header > div #popout .popout-body .activity img {
  width: 100%;
  height: auto;
}

body header > div #popout .popout-footer {
  margin: 20px;
  margin-top: 0;
}

body header > div #popout .popout-footer input {
  width: calc(100% - 16px);
  height: 40px;
  background-color: var(--background-secondary);
  border: none;
  padding: 10px;
  border-radius: var(--border-radius);
  color: var(--text-primary);
  font-size: 0.85rem;
}

body header > div #popout .popout-footer input:focus {
  outline: none;
}

#scroll-progress-bar{
  position: fixed;
  height: 0.5vw;
  background-color: var(--red);
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.about-header{
  font-size: 6vw;
  font-weight: 400;
}

.about-desc{
  font-size: 4vw;
  font-weight: 400;
}

.divider {
  height: 4vw;
  width: 30vw;
  -webkit-user-drag: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  transform: scale(0.9);
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1);
  cursor: pointer;
}

.image {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 10vw;
}

svg {
  color: rgb(12, 14, 18);
}

@media (prefers-color-scheme: dark){
  html {
      background-color: var(--indigo);
      color: var(--white);
      text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
      color-scheme: dark;
  }
  svg {
      color: rgb(236, 243, 252);
  }
}

@media only screen and (max-width: 1024px) {
  #scroll-progress-bar{
      height: 1.5vw;
  }
  
  .about-header{
      font-size: 12vw;
      font-weight: 400;
  }
  
  .divider {
      height: 8vw;
      width: 60vw;
  }

  .about-desc {
      font-size: 6vw;
      font-weight: 400;
  }

  .image {
      margin-left: 3vw;
      margin-right: 3vw;
      width: 14vw;
  }
}